header
{
	text-align: center;
	background-color: white;
	font-size: 40px;
	font: impact;
	border: 2px solid #000;
	font-weight: bold;
	margin: 10px;
	max-height: 400px;


}


}

.paragraph {
	

	text-align: left;
	background-color: white;
	font-size: 40px;
	font: impact;
	border: 1px solid #000;
	font-weight: bold;
	padding: 10px 10px;
	margin: 10px;
	max-height: 800px;
}




.about {
	border: 2px solid #000;
	max-height: 400px;
	height: 400px;

}
img {	float: right; }

.about {
	margin-top: 60px; 
}

.left { float: left; }



.home {  
	
	margin: 40px 40px 40px 40px;
	

	}

	p {
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
}